.header_top{
	background-color: #535D69;
    min-height: 50px;
}
.header_top_wrapper{
	width: 1024px;
    margin: auto;
} 
.header_top_left {
    display: inline-block;
    width: 40%;
    padding: 12px 0px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.header_top_right{
	float: right;
    width: 55%;
    text-align: right;
}
.navigation{
	display: inline-block;
    width: 20%;
} 
.nav_wrapper{
	width: 1024px;
    margin: auto;
    overflow: hidden;
} 
.logo img {
	display: inline-block;
    width: 20%;
    margin-bottom: -4px;
    padding: 10px 0px;
}